@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    position: relative;
    line-height: 1;
}

body {
    overflow: hidden;
    overflow-y: auto;
    max-width: 100vw;
    min-height: 100vh;
}

.bg-gray-300 {
    background-color: #798288;
}

.color-brand-purple {
    color: #6954D9;
}


#big-avatar {
    border-radius: 50%;
    overflow: hidden;
}

.icon-button {
    position: relative;
    width: 52px;
    height: 52px;
    min-width: 52px;
    min-height: 52px;
    background-color: #EEEDED;
    border-radius: 50%;
    padding: 2rem;

    img {
        width: 100%;
        height: auto;
    }
}

#screen-3 {
    min-height: 100vh;
}

footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 26px;
    width: 92%;
    height: 96px;
    left: calc(50% - 92% / 2);
    bottom: 32px;
    background-color: #fff;
    border-radius: 16px;
}

footer #button-keyboard {
    position: absolute;
    top: -32%;
    left: calc(50% - 52px / 2);
    background-color: #fff;
}

#videeo {
    width: 100%;
    height: auto;

}

.chat-incoming, .chat-outgoing {
    padding-inline: 12px;
    padding-right: 90px;
    color: #3C3F41;
}

.chat-outgoing {
    padding-inline: 12px;
    padding-left: 90px;
    text-align: right;
}

.chat-incoming::before, .chat-outgoing::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #6954D9;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.chat-outgoing::before {
    left: initial;
    right: 0;
    background-color: #A3E000;
}

.button-download {
    all: unset;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: max-content;
    padding: 0.8rem 1rem;
    margin-top: -0.6rem;
    background-color: #E9E9E9;
    border-radius: 0.8rem;
    font-size: 15px;
}
